.bg-custom {
    background-color: #604829;
}

.text-custom {
    color: #c4a47c;
}

.custom-img {
    width: 100px;
    height: auto;
}

.bg-image {
    background-image: url('/download-arquivos-do-projeto/assets/parallax-imagem1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}

.custom-title {
    font-size: 4rem;
    color: white;
    font-family: 'Fraunces', serif;
    text-align: center;
}

.custom-text {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
}

.custom-subti {
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 1rem 0;
}

.mapa iframe {
    width: 100%;
    height: 350px;
    border: none;
}

.custom-footer{
    background-color: #000000;
}



/* Media Query para ajustes adicionais */
@media  (max-width: 500px)  {
    

    .custom-title {
        font-size: 3rem;
    }

    .custom-text {
        font-size: 0.9rem;
    }

    .custom-subti {
        font-size: 1.25rem;
    }

    #contatos1 {
        height: 150vh;
    }

    #contatos2{
        height: 170vh;
    }

    footer{
        height: 30vh;
    }
}





